*{
    margin: 0;
    padding: 0;
    scroll-margin-block-start: 110px;
    scroll-margin-block-end: 110px;
}
:root{
    --main-color:#8F754F;
}
.color-white{
    color: white;
}
.bg-main-color{
    background-color: #8F754F;
}
.main-color{
    color: #8F754F;
}

.no-overflow{
    overflow: visible;
}
.no-max-height{
    max-height: none;
}

html{
    scroll-behavior: smooth;
}
p{
    font-family: "Alegreya Sans", sans-serif;
}
h1,h2,h3,h5{
    font-family: "Alegreya", serif;
}

.settings{
    position: fixed;
    top: 200px;
    right: 0;
    background-color: #f8f8f8;
    padding: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 3;
    height: 100px;
    width: 50px;
    overflow: hidden;
}
.settings img{
    display: block;
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--main-color);
}

.navbar{
    transform: all 0.5s;
}

.navbar-scrolled {
    background-color: var(--main-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);

}

.black-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
    z-index: 1; /* Ensure it is above the background but below the text */
  }
  .welcome h3, .welcome h1, .welcome p, .welcome .buttons {
    position: relative;
    z-index: 2; /* Ensure text and buttons are above the overlay */
  }
  
.welcome{
    /* height: 70vh; */
    /* margin-top: 150px;
    margin-bottom: 100px; */
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(Images/drew-coffman-1872.jpg);
    color: gray;
}

.welcome h3{
    font-size: 30px;
    margin-bottom: 40px;
   
}
.welcome h1{
    font-size: 70px;
    margin: 30px;
    font-family: "Alegreya", serif;
}

.welcome p,h3{
    margin: 30px;
    color: gray;
    font-family: "Alegreya Sans", sans-serif;
}

.welcome p{
    font-size: 30px;
    text-align: center;
}

.welcome button{
    padding: 30px;
    color: white;
    font-size: large;
    border-radius: 10px;
    border: 0;
    background-color: var(--main-color);
    transition: 0.4s;
}
.buttons{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    width: 30%;
}

.welcome button:hover{
    color: var(--main-color);
    background-color: white;
}

.parent{  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFC;
    /* margin: 50px; */
    width: 100%;
}
.container1{   
    /* background-color: red; */
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width:80%;
    margin: auto;
    font-family: "Alegreya", serif;
    /* background-color: red; */
}
.container1 img{
    left: 0;
    margin-right: 30px;
    width: 45%;
}
.divWhoWeAre{
    flex: 1;
    /* display: inline-block; */
}

.divWhoWeAre_list{
    display: flex;
    align-items: center;
}

.divWhoWeAre_list img{
    width: 5%;
    margin-right: 10px;
}
.divWhoWeAre_list p {
    font-size: 14px;
    color: gray;
    font-family: "Alegreya Sans", sans-serif;
}
.divWhoWeAre p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 20px;
    color: gray;
    font-family: "Alegreya Sans", sans-serif;
}
.divWhoWeAre h2 {
    font-size: 40px;
    line-height: 1.5;
    /* margin-bottom: 10px; */
}

.outer{
    display: block;
    background-color: #353330;
    text-align: center;
    padding-top: 50px;
    width: 100%;
    height: 300px;
}
.outer p{
    color: #636666;
    margin-top: 25px;
    margin-bottom: 10px;
}
.links{
    display: flex;
    justify-content: center;
}
.links a{
    margin: 10px
}

.links a i{
    font-size: 30px;
    color: #8F754F;
}



.ourBaking{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center ;
    scroll-margin-block-start: 200px;
    scroll-margin-block-end: 200px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    /* gap: 10px; */
}

.ourBaking h2{
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin: 0;
}

.ourBaking p{
    text-align: center;
    font-size: large;
    font-family: "Alegreya Sans", sans-serif;
    margin: 10px;
}
.container{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 20%;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 35px;

}

.container img{
    margin-top: 0px;
    width: 95%;
}


.outerContainer {
    display: flex;
    justify-content: space-around;
    padding: 100px; 
    background-color: #403D38; 
    gap: 20px;
}

.about { 
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: start; */
    /* width: 100%; */
    /* vertical-align: top; */
    /* flex: 1 1 300px; */
    /* padding: 10px; */
    /* margin: auto; */
}

.about h2 {
    color: #f8f8f8;
    font-size: 35px;
    margin-bottom: 20px;
}

.about p {
    font-size: 15px;
    line-height: 1.5;
    color: #898885;
}

.options {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}

.options img {
    width: 30px;
    margin-right: 10px;
}

.contactContainer{
    display: flex;
    align-items: center;
    background-color: #F8F9FA;
   
    /* scroll-margin-block-start: 110px;
    scroll-margin-block-end: 110px; */
    /* width: 100%; */
}

.contacvtInformation{
    display: inline-block;
    width: 50%;
    padding: 50px;
}

.contactDetails{
    display: flex;
    align-items: center;
}

.contactDetails img{
    margin-right: 20px ;
    width: 5%;
}
.contactDetails p{
    display: inline;
}

.contactContainer iframe{
    width: 50%;
    height: 400px;
    margin-left: 100px;
    border: 0;
    border-radius: 10px;
}

.contacvtInformation h3{
    font-family: "Alegreya", serif;
    color: black;
    font-size: 50px;
    margin-left: 0;
}

.contacvtInformation p{
    font-size: 20px;
    color: #717478;
}

.contacvtInformation h5{
    font-size: 24px;
    margin-bottom: 20px;
    color: #717478;
}


@media screen and (max-width: 1200px){

    .container1 .img1{
        width: 100%;
    }
    .navbar{

    }
    .buttons{
        display: flex;
        gap: 10px;
        justify-content: space-between;
        margin: 0 auto;
    }

    .welcome button{
        padding: 30px;
        color: white;
        font-size: 15px;
        border-radius: 10px;
        background-color: var(--main-color);
    }
    .container{
        width: 80%;
        flex-wrap: wrap;
        font-size: 40px;
    }
    .container p{
        font-size: 30px;
    }
    
    
    .container img{
        width: 100%;
    }
    .ourBaking{
        width: 90%;
        margin: 0 auto;
    }
    
    .contactContainer{
       flex-wrap: wrap;
       justify-content: center;
       /* text-align: center; */
       width: 100%;
       margin: 0 auto;
    }
    
    .contacvtInformation{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .contactContainer iframe{
        width: 100%;
        margin: 20px auto;
    }
    .outerContainer{
        flex-direction: column;
        width: 100%;
        padding: 0px;
        padding-top: 70px;
        padding-bottom: 70px;

    }
    .about{
        padding: 20px;
        width: 70%;
        margin: 0 auto;
    }
    
}